<h3>Crear Cita</h3>
<form #appointmentForm="ngForm" (ngSubmit)="createAppointment(appointmentForm)">
  <div>
    <label for="date">Fecha:</label>
    <input type="date" id="date" name="date" ngModel required>
  </div>
  <div>
    <label for="time">Hora:</label>
    <input type="time" id="time" name="time" ngModel required>
  </div>
  <div>
    <label for="surgery">Cirugía:</label>
    <input type="text" id="surgery" name="surgery" ngModel required>
  </div>
  <div>
    <label for="diagnostic">Diagnóstico:</label>
    <input type="text" id="diagnostic" name="diagnostic" ngModel required>
  </div>
  <button type="submit">Crear Cita</button>
</form>
