@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --primary-color: #007bff;
  --bg-color: #add8e6;
  --input-bg-color: #2c2f33;
  --input-border-color: #444950;
  --background-blur-color: rgba(255, 255, 255, 0.1);
  --body-font: "Roboto", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  margin: 0;
}

.doctor-container {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 2rem 3rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  backdrop-filter: blur(10px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

h2, h3 {
  color: var(--black-color);
  margin-bottom: 1rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--black-color);
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.btn, .btn-secondary {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.btn-secondary {
  background-color: #67abe5;
}

.btn:hover, .btn-secondary:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

ul li {
background: rgba(60, 148, 243, 0.8);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li button {
  margin-left: 0.5rem;
}

.toggle-appointments-btn {
  cursor: pointer;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.toggle-appointments-btn:hover {
  color: #0056b3;
}

.btn-logout {
  background-color: #e74c3c;
  color: var(--white-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.btn-logout:hover {
  background-color: #c0392b;
}